{% extends 'base/base.html' %}

{% block title %}Buyer List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li><a href="#">Customer</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Customer List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Street</th>
                                <th>City</th>
                                <th>Zip Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if all_customers %}
                            {% for all_customers in all_customers %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ all_customers.First_name }} {{ all_customers.Last_name }}</td>
                                <td>{{ all_customers.email }}</td>
                                <td>{{ all_customers.phn_no }}</td>
                                <td>{{ all_customers.Street }}</td>
                                <td>{{ all_customers.City }}</td>
                                <td>{{ all_customers.zip_code }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Buyer Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}